<footer class="site-footer">

    <div class="footer-container">

        <div class="footer-brand">
            <strong>
                SUMAQ <span>TOURS</span>
            </strong>

            <p>
                Descubre el Perú a tu ritmo.
            </p>
        </div>

        <div class="footer-links">

            <a routerLink="/">
                Inicio
            </a>

            <a routerLink="/nosotros">
                Nosotros
            </a>

            <a routerLink="/contacto">
                Contacto
            </a>

        </div>

        <div class="footer-copy">
            © 2026 Sumaq Tours
        </div>

    </div>

</footer>